<section id="kakehashiapp">
	<header id="header"></header>

	<section id="main">
		<div class="off-canvas-wrap">
			<div class="inner-wrap">

				<div class="fixed">
					<div id="top-bar-section">
					</div>
				</div>

				<div id="right-menu-section">
				</div>

				<!-- Main Section -->
				<div id="main-section">
					<div class="row">
						<section id="trend-header"></section>
					</div>
					<!-- Main Contents -->
					<div class="row">
						<div class="small-8 columns">
							<section class="main-section" id="main-contents"></section>
						</div>
						<div class="small-4 columns">
							<a class="twitter-timeline" href="https://twitter.com/search?q=%E6%97%A5%E6%9C%AC%E9%85%92" data-widget-id="466982967093374976">Tweets about "日本酒"</a>
						</div>
					</div>
				</div>

				<a class="exit-off-canvas"></a>

			</div>
		</div><!-- off-canvas-wrap end -->

	</section><!-- section main end -->

	<footer id="footer"></footer>

</section>

<%= javascript_tag do %>
$(function() {
	App.start();

});

!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

<% end %>