<section id="kakehashiapp">
	<header id="header"></header>
	<section id="main"></section>
	<footer id="footer"></footer>
</section>

<%= javascript_tag do %>
$(function() {
	App.start();
});
<% end %>
