@import "set";

body{
	background-color: $_base-bg-color;
	color: $_base-text-color;
	li {
		color: $_base-text-color;
	}
}

#service-name {
	text-align: center;
	font-size: 2rem;
	font-family: 'Codystar';
	color: $_logo-color;
}

#main-section {
	margin: $_tabbar-height auto 0 auto;
}

// style for grid view mode
.trend-grid {
	width: 250px;
	height: 300px;
	-webkit-box-sizing: border-box;
	// border-radius: 10px;
	border: 5px solid $_card-border-color;
	.name-area {
		// height: 40px;
		padding: 5px;
		border-top: 1px solid $_card-border-color;
		.trend-item{
			padding: 2px;
		}
	}
	background: $_card-bg-color;
	text-align: left;
	img {
		width: 100%;
		height: 200px;
	}
}

// style for bubble view mode
.trend-bubble {
	margin: auto auto auto auto;
	text-align: left;
	img {
		width: 100%;
		height: 200px;
		// width: 150px;
		// height: 150px;
		// border-radius: 200px;
		// -webkit-border-radius: 200px;
		// -moz-border-radius: 200px;
	}
}


// style for table view mode
#trend-table {
	margin: auto auto auto auto;
	text-align: left;
	img {
		width: 150px;
		height: 150px;
		border-radius: 0px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
	}
}

// .top-bar-section, .right-small
.top-bar-section, .right-small {
	// 画像アイコン
	i {
		color: $_top-text-color;
	}
	.dropdown {
		li:not(.has-form) a:not(.button) {
			color: $_btn-text-color;
			background: $_btn-list-bg-color;
			i {
				color: $_btn-text-color;
			}
		}
		li:not(.has-form):hover > a:not(.button) {
			color: $_top-text-color;
			background: $_top-bg-color;
			i {
				color: $_top-text-color;
			}
		}
		i {
			margin-left: 10px;
		}
		.not-selected {
			display: none;
		}
	}

	.left-small {
		width: $_tabbar-width;
	}

}
// end -- .top-bar-section, .right-small

// off-canvas-list for right menu
ul.off-canvas-list li {
	a {
		color: $_side-text-color;
	}
	a:hover {
		color: $_side-text-color-hover;
		background: $_side-bg-color-hover;
	}
}
// end -- off-canvas-list for right menu

.tab-bar-section.middle {
	left: $_tabbar-width;
}

#footer {
	text-align: center;
	margin: 30px;
}
