@import "set";

body{
	background-color: $_base-bg-color;
	// font-family: 'Josefin Sans';
	font-family: 'Raleway';
	li {
		color: $_base-text-color;
	}
	p {
		color: white;
	}
}

#service-name {
	text-align: center;
	font-size: 2rem;
	// font-weight: normal;
	font-family: 'Codystar';
}

#trend-header {
	li {
		color: black;
	}
}

#datasource-logo {
	color: #705C5F;
}

#view-mode-logo {
	color: #705C5F;
	text-align: right;
}

#main-section {
	margin: $_tabbar-height auto 0 auto;
}

#trend-header {
	text-align: center;
}

#trend {
	margin: auto auto auto auto;
	text-align: left;
	img {
		width: 300px;
		height: 300px;
		border-radius: 300px;
		-webkit-border-radius: 300px;
		-moz-border-radius: 300px;
	}
}

.off-canvas-wrap {
	.main-section {
		text-align: center;
	}

	.tab-bar {
		text-align: center;
		a {
			color: $_base-text-color;
		}
	}
}

.top-bar-section {
	.dropdown li:not(.has-form) a:not(.button) {
		color: #333333;
		background: $_btn-list-bg-color;
	}

	.left-small {
		width: $_tabbar-width;
	}

	.dropdown {
		i {
			margin-left: 10px;
		}
		.not-selected {
			display: none;
		}
	}
}

.tab-bar-section.middle {
	left: $_tabbar-width;
}

#footer {
	text-align: center;
	margin: 30px;
}
